<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <span>
        <a href="/">Home </a>  
        <a href="/genrateQuestionView"> Question</a>
    </span>
    
    <center>
    
        
        <div class="mb">
            <label class="form-label" for="payload">Enter Payload</label>
            <textarea type="text" class="form-control" id="payload" placeholder="Enter  Payload" autocomplete="off" style="width: 100%;height:100px"></textarea>
        </div>
        <div class="mb">
            <label class="form-label" for="input_question">Enter question</label>
            <input type="text" class="form-control" id="input_question" placeholder="Enter  Question" autocomplete="off" ></input>
        </div>
        <div class="mb">
            <label class="form-label" for="scale">Select Question Type</label>
            <select name="question_type" id="question_type">
                <option value="">True/False</option>
                <option value="">MCQs</option>
                <option value="">FAQ</option> 
                <option value="">Ask Question</option> 
            </select>
        </div>
     
        <br>
        <button id="submit_btn">
            Get Results
        </button>

        
        
    </center>
    
    
     <div id="results">

     </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#submit_btn").click(function(e){
        var input_question = $("#input_question").val()
        var payload = $("#payload").val()
        var question_type = $("select#question_type  option:selected").text()
        if (!payload){
            alert("Please enter a payload ")
            return
        }  
        if (!question_type){
            alert("Please select question type ")
            return
        }  
        $("#results").html("Loading Data  ...") 

        var display_box = $("#results")

        $.ajax({
            url: "/genrateQuestionView/",
            method: "POST",
            data: {"payload":payload, "question_type": question_type,"input_question":input_question},
            success: function(res){  
                console.log(res.results)

                res = res.results ;
                if (question_type=='True/False'){
                    var count =  res['Count'];
                    var questions =  res['Boolean Questions']  
                    display_box.append(`<h4>Total questions: ${count}</h4><br>`)
                    for(var i=0;i<questions.length;i++){
                        display_box.append(`<h3>question: ${questions[i]}</h3>
                        <br><hr><br>
                        
                        `)
                        
                    }
                    
                }
                
                else if (question_type=='MCQs'){
                    var count =  res['questions'].length;
                    var questions =  res['questions']  
                    display_box.append(`<h4>Total questions: ${count}</h4><br>`)
                    for(var i=0;i<questions.length;i++){
                        display_box.append(` 
                            <h3>Question ${questions[i]["id"]} : ${questions[i]['question_statement']}</h3>
                            <h3>Optoins: ${questions[i]['options']}</h3>
                            <h3>Extra Optoins: ${questions[i]['extra_options']}</h3>
                            <h3>Answwer: ${questions[i]['answer']}</h3>
                            <h3>Detail Answwer: ${questions[i]['context']}</h3> 

                            <br><hr><br>
                        `)

                    }
                    
                }
                
                else if (question_type=='FAQ'){
                    var count =  res['questions'].length;
                    var questions =  res['questions']  
                    display_box.append(`<h4>Total questions: ${count}</h4><br>`)
                    for(var i=0;i<questions.length;i++){
                        display_box.append(` 
                            <h3>Question ${questions[i]["id"]} : ${questions[i]['Question']}</h3> 
                            <h3>Answwer: ${questions[i]['Answer']}</h3>
                            <h3>Detail Answwer: ${questions[i]['context']}</h3> 
                            <br><hr><br>

                        `)
                    }

                }
                else if (question_type=='Ask Question'){

                    $("#results").text(JSON.stringify(res))
                }

            }
        })


    })
</script>

</body>
</html>